<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CONTROL</title>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="xuly.js"></script>
	<link rel="stylesheet" type="text/css" href="layout.css" />
</head>
<body>
	<div id="control_board">
		<h5>Led 2 on board:</h5>
		<button type="button" id="LED2_ON">Turn ON</button>
		<button type="button" id="LED2_OFF">Turn OFF</button>
		<h5>Analog Read:</h5>
		<div id="A0"></div>
	</div>
	<div id="please_wait">
		<h4>Please wait....</h4>
	</div>
</body>
</html>